{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="container">
        <h1> Home </h1>
        <h2> FAQ </h2>
        <h3> What is Flaskmail?</h3>
        <p> Flaskmail is an email-like service that allows you to communicate with your acquaintances via an email-like
        service. </p>
        <h3> How do I use Flaskmail?</h3>
        <p> To send someone an email, just log on to flaskmail and send it to their address. To read the emails that
        someone has sent you, log on to flaskmail and read the emails in your inbox.</p>
        <h3> My 14-year-old child has created an account in my name. What do I do?</h3>
        <p> Navigate over to the account settings and press 'delete account' and confirm. If you did not want to delete your account,
        your data is now permanently lost.</p>
        <h3> I'm worried that a hacker will find my password I use to log on to your site. </h3>
        <p> Firstly, that's not a question. Secondly, Flaskmail uses state-of-the-art military grade encryption to ensure
        that your password is safe from anyone trying to steal your data.</p>
    </div>
{% endblock %}